%h1 
  Route 
  = @route.number

#route-chart{data: {stops: details_for_chart}}

= paginate @details

%table
  %tr
    %th= sortable "stops"
    %th On Street
    %th Cross Street
    %th= sortable "boardings"
    %th= sortable "alightings"
    %th Location
    %th Stop found on other routes

  - @details.each do |detail|
    %tr
      %td= detail.stop.number
      %td= detail.stop.on_street.name
      %td= detail.stop.cross_street.name
      %td= number_with_precision(detail.boardings, precision: 1)
      %td= number_with_precision(detail.alightings, precision: 1)
      %td
        = link_to "Location", "http://maps.google.com/?q=#{detail.stop.longitude},#{detail.stop.latitude}", {target: "_blank"}
      %td
        - if (other_routes = detail.stop.routes.reject{|route| route.number == @route.number.to_s}).present?
          - other_routes.each do |route|
            = link_to route.number, dataset_route_path(@dataset, route.id)

= paginate @details

%p
  = link_to 'Back to dataset', dataset_path(@dataset)